@import "./partial/reset";
@import "./partial/spacing";
@import "./partial/font";
@import "./partial/colors";
@import "./partial/buttons";
@import "./partial/mixins";
@import "./partial/animation";

body {
  background-color: $bg-prime-dark;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

header {
  background-color: $bg-second;
  box-shadow: 2px 5px 10px rgba(45, 0, 108, 0.478);
  position: relative;
  z-index: 999;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $pad-2;
    ul {
      display: flex;
      gap: 30px;
      li {
        cursor: pointer;
        margin {
          left: 20px;
        }
        &::marker {
          content: "🟪";
        }
        a {
          color: $text-prime;
          font-family: $family;
          font-size: $fs-2;
        }
      }
    }
    & img {
      width: 40px;
    }
  }
}

.hero {
  display: flex;
  background-color: $bg-prime;
  .heroConts {
    @include keyframes-fade("fade-top", "-400px", "0");
    @include fade("fade-top", 3s);
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: {
      top: $m-3;
      bottom: $m-2;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        @include title-big($fs-3);
        color: $text-prime;

        font-family: $family;
      }
      p {
        color: $text-prime;
        font-size: $fs-2;
        font-family: $family;
      }
      .buttons {
        display: flex;
        justify-content: start;
        gap: 20px;
      }
    }
    div img {
      width: 100%;
      @include floating();
    }
  }
}

.about {
  background-color: white;
  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    img {
      margin: {
        top: $m-3;
        bottom: $m-2;
      }
      width: 100%;
      height: 300px;
      object-fit: cover;
      aspect-ratio: 1/1;
      @include floating($border: none);
    }
  }
}

footer {
  text-align: center;
  margin: {
    top: $m-1;
  }
  font-family: $family;
  background-color: $bg-prime-dark;
  h3 {
    color: $text-prime;
    font-size: $fs-2;
  }
}
