@mixin keyframes-fade($name, $start, $end) {
  @keyframes #{$name} {
    0% {
      opacity: 0;
      transform: translateY($start);
    }
    100% {
      opacity: 1;
      transform: translateY($end);
    }
  }
}

@mixin fade($name, $duration) {
  animation: $name $duration cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@mixin floating(
  $radius: 20px,
  $shadow: 2px 5px 20px rgba(45, 0, 108, 0.478),
  $border: 4px
) {
  border-radius: $radius;
  box-shadow: $shadow;
  border: $border solid $bg-prime-dark;
}
